.caja {
  background-color: #063168;
}
.caja-info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#titulo {
  font-size: 30px;
  text-align: center;

}

.borde {
  border-style: double;
  border-color: rgb(128, 193, 253);
  border-radius: 15px;
  /*padding es la distancia de los elementos hacia el borde*/
  /*margin es la distancia de los elementos hacia afuera del borde*/
  padding: 30px;
  background-color: #4881cc;
}
.caja-contenedor {
  display: flex;
  justify-content: center;
  background-color: #063168;
}
.contenedor {
  display: flex;
  justify-content: center;
  padding-right: 10%;

}
h1{
  color: antiquewhite;
}
h2 {
  display: flex;
  justify-content: center;
}
.boton {
  width: 181px; /*ancho*/
  height: 30px; /*alto*/
  margin: 10px;
}
